@model Titanio.Models.Projeto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Projeto</legend>

    <div class="display-label">Nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">DataInicio</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataInicio)
    </div>

    <div class="display-label">descricao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descricao)
    </div>

    <div class="display-label">ativo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ativo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
